<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <title>Histroy page</title>
</head>
<body>

<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h4 class="text-white">Currency converter</h4>
            <div class="text-muted">
                <p>Hello, its my currency converter. In middle you seeing three buttons.</p>
                <p>Button 1 - Show my converting history. If you go by it, you will see your history of conversion
                    currency.
                    The history only by your login, you don't see alien history.</p>
                <p>Button 2 - Converter with button. This converter allows converting by button "Push me", after you
                    will see
                    your history in right. This converter can convert only left-to-right and only by button. </p>
                <p>Button 3 - Converting online. This converter allows converting online left-to-right, right-to-left.
                </p>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-light" href="/" role="button">Main</a>
            </div>
            <div class="col">
                <a class="btn btn-outline-light" href="/logout" role="button">Exit</a>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <h6 th:object="${authUser}">Your login:
        <span th:text="*{login}"
              id="login">
        </span>
    </h6>
    <h6 th:object="${currentCourse}">Current course
        <span th:text="*{name}">
        </span> on date:
        <span th:text="*{date}"
              id="date">
        </span>
    </h6>
    <button type="button"
            class="btn btn-primary"
            data-toggle="tooltip"
            data-placement="right"
            title="If you need to use the conversion history"
            onclick="location.href='/convertingWithButton'">Converting with button
    </button>
    <button type="button"
            class="btn btn-primary"
            data-toggle="tooltip"
            data-placement="right"
            title="If you need to convert something quickly"
            onclick="location.href='/convertingOnline'">Converting online
    </button>

    <!--history container-->
    <div class="col-md-5 mr-auto ml-auto my-5">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <h2>History</h2>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-danger" id="deleteAllHistroy">Delete your history</button>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Initial currency</th>
                <th scope="col">Target currency</th>
                <th scope="col">Initial sum</th>
                <th scope="col">Received sum</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody id="history">
            </tbody>
        </table>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="js/historyScripts.js"></script>
</body>
</html>